{% extends 'base.html' %}
{% load static %}

{% block title %}
	PyTime - Авторизация
{% endblock title %}

{% block main-container %}
	<div class="main_content">
		<div class="authorization_content d-flex align-items-center justify-content-center">
			<div class="authorization_block">
				<p class="authorization_title">
					Авторизация
				</p>
				
				<div class="input_block">
					<p class="input_title">
						Почта
					</p>
					<input type="text" placeholder="Введите почту" class="authorization_input">
				</div>

				<div class="input_block">
					<div class="input_text_block d-flex justify-content-between">
						<p class="input_title mb-0">
							Пароль
						</p>

						<a href="#" class="forgot_password_link">
							Забыли пароль?
						</a>
					</div>

					<input type="password" placeholder="Введите пароль" class="authorization_input">
				</div>

				<!-- Кнопка авторизации -->
				<div class="login_button_block d-flex justify-content-center">
					<!-- {% url "articlesPage" as articlesUrl %} -->
	                {% include "buttons/button_black_background.html" with name="Войти" %}
				</div>

				<hr class="authorization_line">

				<div class="create_accaunt_block d-flex justify-content-between align-items-center">
					<p class="authorization_text mb-0">
						У вас ещё нет аккаунта?
					</p>

					<!-- Кнопка регистрации -->
					<!-- {% url "articlesPage" as articlesUrl %} -->
					{% include "buttons/button_white_background.html" with name="Регистрация" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
