{% extends 'base.html' %}

{% block title %}
	PyTime - Регистрация
{% endblock title %}

{% block main-container %}
	<div class="main_content">
		<div class="authentication_container d-flex align-items-center justify-content-center">
			<div class="authentication_block">
				<p class="container_title">
					Регистрация
				</p>
				
				<form class="authentication_form w-100" method="post">
                    {% csrf_token %}

                    <div class="authentication_form_block d-flex flex-column">
                        {% for field in registrationForm %}
                        	<label for="{{ field.id_for_label }}" class="container_form_label">
                        		{{ field.label }}
                        	</label>
							
							{{ field.errors }}
                            {{ field }}
                        {% endfor %}
                    </div>

                    <div class="authentication_button_block d-flex justify-content-center">
                    	<input type="submit" value="Создать аккаунт" class="button_submit mb-0">
                    </div>

					<div class="authentication_agreement_block text-center">
						<p class="container_text mb-0">
							Регистрируясь, Вы соглашаетесь с условиями

							<a class="container_link" href="{% url 'privacy' %}">
								<u>политики конфиденциальности</u>
							</a>
							и
							<a class="container_link" href="{% url 'userAgreement' %}">
								<u>пользовательского соглашения</u>
							</a>
						</p>
					</div>
				</form>

				<hr class="base_content_separator mx-0">

				<div class="container_login_account d-flex justify-content-between align-items-center">
					<p class="container_text mb-0">
						У Вас уже есть аккаунт?
					</p>

					<!-- Кнопка авторизации -->
					{% url "loginUser" as loginUserURl %}
					
					{% include "buttons/button_white_background.html" with name="Войти" url_name=loginUserURl %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
