{% extends "base.html" %}
{% load static %}

{% block ogTags %}
    {% include 'meta/og_tags.html' %}
{% endblock ogTags %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main-container %}
    <div class="main_content">
        <div class="error_container d-flex align-items-center justify-content-between">
            <div class="container_left_side">
                <h2 class="container_title">
                    {{ errorTitle }}
                </h2>

                <p class="container_text mb-0">
                    {{ errorDescription }}
                </p>
            </div>

            <img class="container_image" src="{% static 'errors/error.jpg' %}">
        </div>

        <div class="error_container_tablet d-flex flex-column align-items-center justify-content-center">
            <div class="container_up_side text-center">
                <h2 class="container_title">
                    {{ errorTitle }}
                </h2>

                <p class="container_text">
                    {{ errorDescription }}
                </p>
            </div>

            <div class="container_bottom_side">
                <img class="container_image_tablet" src="{% static 'errors/error.jpg' %}">
            </div>
        </div>
    </div>
{% endblock main-container %}