# Byte-compiled / optimized / DLL files
__pycache__/

# Venv
venv/

# Backup
.backup

# Env
.env*

# PyCharm
.idea/

# Database
db.*
.pg*

# Staticfiles and Uploads
media/
staticfiles/
uploads/

# Tests
.coverage

# Profanity words
profanity


# ========== #
# Vue config #
# ========== #

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
