# Byte-compiled / optimized / DLL files
__pycache__/

# Venv
venv/

# Backup
.backup

# Env
.env*

# PyCharm
.idea/

# Database
db.*
.pg*

# Staticfiles and Uploads
media/
staticfiles/
uploads/

# Tests
.coverage

# Profanity words
profanity