# Byte-compiled / optimized / DLL files
__pycache__/

# Backup
.backup

# Env
.env*

# PyCharm
.idea/

# Database
db.*
.pg*
.database/

# Staticfiles and Uploads
media/
staticfiles/
uploads/

# Inforamtions
.data/