

* {
    font-family: "Roboto Regular";
}

header,
footer {
    margin-left: 140px;
    margin-right: 140px;
}

header {
    height: 70px;
}

footer {
    height: 150px;
    border-top: solid;
    border-width: 2px;
    border-color: #707070;
}

ul {
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

h1 {
    font-family: "Roboto Bold";
    font-size: 56px;
}

h2 {
    font-family: "Roboto Bold";
    font-size: 48px;
}

p {
    font-size: 18px;
}





/* ===== */
/* Fonts */
/* ===== */

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto SemiBold";
  src: url("../fonts/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}





/* ====== */
/* Header */
/* ====== */

.header_logo {
    width: 120px;
}

.logo_img {
    width: 85px;
    height: 40px;
}

.header_menu_link,
.header_authorization_link {
    color: #707070;
}

.header_authorization_link {
    color: #000000;
}

.header_authorization,
.header_authorization_link {
    transition: all ease .4s;    
}

.header_authorization_link:hover {
    background-color: #000000;
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    color: #FFFFFF;
}

.header_menu_nav_item {
    width: 120px;
}

.header_menu_link:hover {
    color: #59A5F5;
}

.header_authorization_link {
    height: 40px;
    width: 100px;
    border: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
}





/* =================== */
/* Main page container */
/* =================== */

/* Separator line */
.border_content_separator {
    border-top: solid;
    border-width: 2px;
    border-color: #707070;
}





/* Greeting */
.main_greeting {
    min-height: calc(100vh - 70px);
    background-image: url(
        "../img/mainPage/main.jpg"
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
}

.main_greeting_title,
.main_greeting_about,
.main_greeting_contact_link {
    color: #FFFFFF;
}

.main_greeting_title {
    font-size: 56px;
}

.main_greeting_about {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_greeting_left_side {
    width: 560px;
}

.main_greeting_know_more,
.main_greeting_contact {
    border: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 5px;
    border-width: 2px;
}

.main_greeting_know_more {
    width: 160px;
    height: 50px;
    background-color: #FFFFFF;
}

.main_greeting_know_more_link {
    color: #000000;
}

.main_greeting_contact {
    width: 160px;
    height: 50px;
    margin-left: 15px;
}

.main_greeting_know_more,
.main_greeting_know_more_link,
.main_greeting_contact,
.main_greeting_contact_link {
    transition: all ease .4s;
}

.main_greeting_know_more:hover {
    background-color: transparent;

    .main_greeting_know_more_link {
        color: #FFFFFF;
    }
}

.main_greeting_contact:hover {
    background-color: #FFFFFF;

    .main_greeting_contact_link {
        color: #000000;
    }
}





/* Main_content */
.main_content {
    padding-left: 140px;
    padding-right: 140px;
}





/* Skils */
.main_skills {
    height: 870px;
}

.main_skills_left_side {
    width: 650px;
}

.main_skills_left_side_text {
    margin-top: 30px;
    margin-bottom: 20px;
}

.main_skills_left_side_skills {
    list-style-type: circle;
    margin-left: 20px;
}

.main_skills_left_side_skills_item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}


.main_greeting_right_side {
    width: 620px;
    height: 640px;
    background-image: url(
        "../img/mainPage/skills.jpg"
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





/* My Projects */
.main_explore_projects {
    height: 440px;
}

.main_explore_projects_left_side,
.main_explore_projects_right_side {
    width: 610px;
}

.main_explore_projects_left_side_text {
    margin-bottom: 20px;
}

.main_explore_projects_right_side_text {
    margin-bottom: 15px;
}

.main_explore_projects_right_side_know_more,
.main_explore_projects_right_side_read {
    width: 160px;
    height: 50px;
}

.main_explore_projects_right_side_know_more {
    background-color: #000000;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
}

.main_explore_projects_right_side_know_more_link {
    color: #FFFFFF;
}

.main_explore_projects_right_side_read {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #000000;
    margin-left: 15px;
}

.main_explore_projects_right_side_read_link {
    color: #000000;
}

.main_explore_projects_right_side_know_more,
.main_explore_projects_right_side_read,
.main_explore_projects_right_side_know_more_link,
.main_explore_projects_right_side_read_link {
    transition: all ease .4s;
}

.main_explore_projects_right_side_know_more:hover {
    background-color: #FFFFFF;

    .main_explore_projects_right_side_know_more_link {
        color: #000000;
    }
}

.main_explore_projects_right_side_read:hover {
    background-color: #000000;

    .main_explore_projects_right_side_read_link {
        color: #FFFFFF;
    }
}





/* ====== */
/* Footer */
/* ====== */

.footer_logo {
    width: 120px;
}

.footer_agreements {
    width: 770px;
}

.footer_agreements_item_text,
.footer_agreements_item_link,
.footer_site_email_link {
    font-family: "Roboto SemiBold";
}

.footer_agreements_item_text {
    font-size: 16px;
}

.footer_feedback {
    width: 200px;
}

.footer_social_link_svg,
.footer_agreements_item_link {
    transition: all ease .4s;
}

.footer_social_link_svg {
    width: 50px;
    height: 50px;
    fill-rule: evenodd;
}

.footer_social_link_svg:hover {
    fill: #59A5F5;
}

.footer_site_email_link {
    margin-top: 5px;
}

.footer_agreements_item_text,
.footer_agreements_item_link,
.footer_site_email_link,
.footer_site_email_link:hover {
    color: #707070;
}

.footer_agreements_item_link:hover {
    color: #59A5F5;
}
