{% extends "base.html" %}
{% load static %}

{% block title %}
    PyTime - Forbidden
{% endblock title %}

{% block main-container %}
    <div class="main_content">
        <div class="error_block d-flex align-items-center justify-content-between">
            <div class="error_block_left_side d-flex flex-column justify-content-center">
                <h2 class="error_block_title mb-0">
                    Ошибка 403
                </h2>
                
                <p class="error_block_text mb-0">
                    Доступ запрещен. У Вас нет прав для просмотра этой страницы. Войдите под другой учетной записью или попросите администратора дать вам доступ.
                </p>
            </div>

            <img class="error_right_side_img" src="{% static 'img/errors/404.jpg' %}">
        </div>
    </div>
{% endblock main-container %}