{% extends "base.html" %}
{% load static %}

{% block title %}
    PyTime - Internal server error
{% endblock title %}

{% block main-container %}
    <div class="main_content">
        <div class="error_404 d-flex align-items-center justify-content-between">
            <div class="error_404_left_side d-flex flex-column justify-content-center">
                <h2 class="error_404_title mb-0">
                    Ошибка 500
                </h2>
                
                <p class="error_404_text mb-0">
                    Сервис временно недоступен. Мы уже в курсе и исправляем ошибку. Обновите страницу через несколько минут. Если проблема не решится, напишите нам на почту.
                </p>
            </div>

            <img class="error_404_img" src="{% static 'img/errors/404.jpg' %}">
        </div>
    </div>
{% endblock main-container %}