{% extends "base.html" %}
{% load static %}

{% block title %}
    PyTime - Service Unavailable
{% endblock title %}

{% block main-container %}
    <div class="main_content">
        <div class="error_block d-flex align-items-center justify-content-between">
            <div class="error_block_left_side d-flex flex-column justify-content-center">
                <h2 class="error_block_title mb-0">
                    Ошибка 503
                </h2>
                
                <p class="error_block_text mb-0">
                    Данная страница находится в разработке или на техническом обслуживании. Пожалуйста, подождите несколько минут и попробуйте обновить страницу. Приносим извинения за временные неудобства. Мы уже работаем над решением проблемы.
                </p>
            </div>

            <img class="error_right_side_img" src="{% static 'img/errors/404.jpg' %}">
        </div>
    </div>
{% endblock main-container %}