<div class="feedback_container d-flex flex-column justify-content-center align-items-center">
	<div class="feedback_block">
		<h2 class="feedback_title">
			Оставьте свой комментарий
		</h2>

		<form action="" class="feedback_form">
			<textarea class="feedback_input w-100" placeholder="Комментарий"></textarea>

			<div class="feedback_publish_block d-flex justify-content-between align-items-center">
				<p class="feedback_agreement mb-0">
					Оставляя комментарий, вы соглашаетесь с условиями <u class="agreement_underline"><a class="agreement_link" href="{% url 'userAgreement' %}">пользовательского соглашения</a></u> и даете согласие на обработку <u class="agreement_underline"><a class="agreement_link" href="{% url 'privacy' %}">персональных данных</a></u>.
				</p>

				<input type="submit" value="Опубликовать" class="feedback_publish_button">
			</div>
		</form>
	</div>
</div>