{% extends "base.html" %}

{% block title %}
	{{ projectData.shortTitle }}
{% endblock title %}

{% block main-container %}
	<div class="main_content">
		<div class="preview_project d-flex justify-content-between align-items-center">
			<div class="preview_project_left_side d-flex flex-column align-content-center">
				<h2 class="project_title">
					{{ projectData.title }}
				</h2>

				<!-- Tags -->
				{% include 'include/item_tags.html' with itemData=projectData %}
			</div>

			<div class="preview_project_right_side">
				<p class="project_text mb-0">
					{{ projectData.description }}
				</p>
			</div>
		</div>

        <!-- Separator line -->
        <hr class="content_separator">

		<div class="body_project">
			<div class="project_text_block">
				<p class="project_text">
					{{ projectData.text }}
				</p>
			</div>
		</div>

        <!-- Separator line -->
        <hr class="content_separator">

        <!-- Write a comment block -->
        {% include 'include/write_comment.html' %}
	</div>
{% endblock %}