<div class="modal fade" id="contentNotPublished" tabindex="-1" aria-labelledby="contentNotPublishedLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="contentNotPublishedLabel">
					Контент не опубликовам - доступен режим только для чтения.
				</h1>
				
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
			</div>
			
			<div class="modal-body">
				<p>
					Чтобы ставить или убирать лайки, оставлять комментарии, лайкать или дизлайкать комментарии других пользователей нужно опубликовать контент.
				</p>
			</div>
		</div>
	</div>
</div>