<div class="main_explore_projects d-flex justify-content-between align-items-center">
	<div class="main_explore_projects_left_side">
		<h2 class="main_explore_projects_left_side_title m-0">
			Исследуйте мои проекты и блог
		</h2>
	</div>

	<div class="main_explore_projects_right_side">
		<p class="main_explore_projects_right_side_text">
			Мои проекты отличаются высоким уровнем профессионализма и качества. Я тщательно подхожу к каждому аспекту работы, обеспечивая отличные результаты. Благодаря этому, они выделяются среди других, привнося новизну и эффективность в каждую задачу.
		</p>
		<div class="main_explore_projects_right_side_links d-flex">
			<div class="main_explore_projects_right_side_know_more d-flex justify-content-center align-items-center">
				<a href="#" class="main_explore_projects_right_side_know_more_link">
					Узнать больше
				</a>
			</div>
			<div class="main_explore_projects_right_side_read d-flex justify-content-center align-items-center">
				<a href="#" class="main_explore_projects_right_side_read_link">
					Читать
				</a>
			</div>
		</div>
	</div>
</div>