:root {
    --hover-color: #59A5F5;
    --text-color: #212529;
    --secondary-color: #707070;
    --input-border-color: #AFAFAF;
    --input-bg-color: #F3F3F3;
    --tag-bg-color: #F3F3F3;
    --block-extra-extra-large-size: 650px;
    --block-extra-large-size: 450px;
    --block-large-size: 450px;
    --img-large-size: 330px;
}

* {
    font-family: "Roboto Regular";
}

header,
footer,
.base_content_separator {
    margin-left: 140px;
    margin-right: 140px;
}

header {
    height: 70px;
}

footer {
    height: 150px;
}

ul {
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

h1 {
    font-family: "Roboto Bold";
    font-size: 56px;
}

h2 {
    font-family: "Roboto Bold";
    font-size: 48px;
}

p {
    font-size: 18px;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto SemiBold";
  src: url("../fonts/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

.brief_information_short_block_name,
.brief_information_short_name,
.preview_last_project_short_block_name,
.preview_last_article_short_block_name,
.developer_soft_skills_underline_title,
.developer_hard_skills_underline_title,
.explore_my_projects_text,
.footer_agreements_item_text,
.footer_agreements_item_link,
.footer_site_email_link {
    font-family: "Roboto SemiBold";
}

.article_card_title,
.project_card_title,
.project_card_view_link,
.article_card_view_link {
    font-family: "Roboto Bold";
}

.error_right_side_img,
.main_skills_img,
.about_developer_road_img,
.developer_hard_skills_img,
.developer_soft_skills_img,
.preview_last_project_card_img,
.preview_last_article_card_img {
    object-fit: cover;
    width: var(--block-extra-extra-large-size);
    height: var(--block-extra-extra-large-size);
}

.block_button_white_background,
.block_button_black_background,
.feedback_publish_button {
    border: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    border-width: 2px;
}

.block_button_black_background,
.block_button_white_background,
.main_greeting_contact,
.main_greeting_know_more {
    width: 160px;
    height: 50px;
}

.block_button_white_background,
.main_greeting_know_more {
    background-color: #FFFFFF;
}

.block_button_black_background,
.feedback_publish_button {
    background-color: #000000;
}

.button_white_background,
.main_greeting_know_more_link,
.header_authorization_link,
.project_card_view_link,
.article_card_view_link {
    color: #000000;
}

.button_black_background,
.main_greeting_title,
.main_greeting_about,
.main_greeting_contact_link {
    color: #FFFFFF;
}

.block_button_white_background,
.button_white_background,
.block_button_black_background,
.button_black_background,
.header_authorization,
.header_authorization_link,
.main_greeting_know_more,
.main_greeting_know_more_link,
.main_greeting_contact,
.main_greeting_contact_link,
.footer_social_link_svg,
.footer_agreements_item_link,
.project_card_view_link,
.article_card_view_link,
.feedback_publish_button,
.agreement_link,
.agreement_underline,
.authentication_link {
    transition: all ease .4s;
}

.block_button_white_background:hover {
    background-color: #000000;

    .button_white_background {
        color: #FFFFFF;
    }
}

.block_button_black_background:hover {
    background-color: #FFFFFF;

    .button_black_background {
        color: #000000;
    }
}

.error_block {    
    height: 730px;
}

.error_block_text {
    margin-top: 50px;
}

.selection_empty {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer_logo_notebook {
    display: none !important;
}

.header_logo {
    width: 120px;
}

.logo_img {
    width: 85px;
    height: 40px;
}

.selected_header_menu_link {
    font-size: 16px;
    color: var(--hover-color);
}

.selected_header_menu_link:hover {
    color: var(--hover-color);
}

.header_menu_link,
.header_authorization_link,
.footer_agreements_item_text,
.footer_agreements_item_link,
.footer_site_email_link,
.footer_site_email_link:hover,
.authentication_short_description {
    color: var(--secondary-color);
}

.header_authorization_link:hover {
    background-color: #000000;
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    color: #FFFFFF;
}

.header_menu_nav_item {
    width: 120px;
}

.header_menu_link:hover,
.footer_agreements_item_link:hover,
.project_card_view_link:hover,
.article_card_view_link:hover,
.agreement_link:hover,
.agreement_underline:hover,
.authentication_link:hover {
    color: var(--hover-color);
}

.header_authorization_link {
    height: 40px;
    width: 100px;
    border: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
}

.content_separator,
.base_content_separator {
    color: var(--secondary-color);
    height: 1px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main_greeting {
    min-height: calc(100vh - 70px);
    background-image: url(
        "../img/main_page/main.jpg"
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 140px;
    padding-right: 140px;
}

.main_greeting_about {
    margin-top: 30px;
    margin-bottom: 30px;
}

.block_duo_buttons,
.main_greeting_buttons {
    width: 335px;
}

.main_greeting_know_more,
.main_greeting_contact {
    border: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 5px;
    border-width: 2px;
}

.main_greeting_contact:hover {
    background-color: #FFFFFF;

    .main_greeting_contact_link {
        color: #000000;
    }
}

.main_greeting_know_more:hover {
    background-color: transparent;

    .main_greeting_know_more_link {
        color: #FFFFFF;
    }
}

.main_content {
    padding-left: 140px;
    padding-right: 140px;
}

.error_block_left_side,
.main_greeting_left_side,
.main_skills_left_side,
.explore_my_projects_and_blog_left_side,
.explore_my_projects_and_blog_right_side,
.explore_my_blog_left_side,
.explore_my_blog_right_side,
.explore_my_projects_left_side,
.explore_my_projects_right_side,
.developer_hard_skills_right_side,
.developer_soft_skills_right_side,
.about_developer_road_left_side,
.preview_last_project_left_side,
.preview_last_article_left_side,
.feedback_block {
    width: var(--block-extra-extra-large-size);
}

.main_skills_left_side_text {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_skills_left_side_skills {
    list-style-type: circle;
    margin-left: 20px;
}

.main_skills_left_side_skills_item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.main_skills_left_side_skills_item:first-child {
    margin-top: 0px;
}

.main_skills_left_side_skills_item:last-child {
    margin-bottom: 0px;
}

.explore_my_projects_and_blog_left_side_text,
.explore_my_blog_left_side_text {
    margin-bottom: 20px;
}

.explore_my_projects_and_blog_right_side_text,
.explore_my_blog_right_side_text,
.explore_my_projects_right_side_text {
    margin-bottom: 15px;
}

.brief_information_block {
    width: 700px;
}

.developer_hard_skills_text,
.brief_information_title,
.preview_last_project_title,
.preview_last_article_title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.preview_last_project_text,
.preview_last_article_text {
    margin-bottom: 30px;
}

.brief_information_text {
    margin-bottom: 30px;
}

.main_skills,
.brief_information_block,
.developer_hard_skills,
.developer_soft_skills,
.about_developer_road,
.explore_my_projects_and_blog,
.preview_last_project,
.preview_last_article,
.explore_my_blog,
.explore_my_projects {
    padding-top: 100px;
    padding-bottom: 100px;
}

.developer_soft_skills_text {
    margin-top: 30px;
}

.profile_left_side {
    margin-right: 25px;
}

.profile_right_side {
    margin-left: 25px;
}

.profile_block {
    height: 730px;
}

.profile_avatar {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.profile_input_title {
    font-size: 16px;
}

.profile_input_title {
    margin-bottom: 5px;
}

.profile_input_block {
    margin-bottom: 20px;
}

.profile_input,
.profile_area_input {
    padding: 5px;
    text-indent: 5px;
    border: solid;
    border-color: var(--input-border-color);
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--input-bg-color);
    width: 300px;
}

.profile_area_input {
    min-height: 50px;
    max-height: 200px;
}

.preview_projects_up_side {
    padding-top: 50px;
}

.explore_my_projects_title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.preview_projects_bottom_side,
.preview_articles_bottom_side {
    padding-top: 50px;
    padding-bottom: 50px;
}


.preview_all_projects_line,
.preview_all_articles_line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.project_card,
.article_card {
    border: solid;
    border-color: #000000;
    border-radius: 5px;
    border-width: 1px;
    width: 350px;
    height: 420px;
}

.project_card_view_link,
.article_card_view_link {
    font-size: 18px;
}

.project_card_description,
.article_card_description {
    padding-top: 20px;

}

.project_card_description,
.project_card_view_block,
.article_card_description,
.article_card_view_block {
    padding-left: 20px;
    padding-right: 20px;   
}

.project_card_img_block,
.article_card_img_block {
    min-width: 350px;
}

.project_card_img,
.article_card_img {
    margin-left: -1px;
    border-width: 2px;
    border-radius: 5px 5px 0px 0px;
    min-height: 180px;
    max-height: 180px;
    width: 100%;
}

.project_card_title,
.project_card_text,
.article_card_title,
.article_card_text {
    margin-bottom: 10px;
}

.footer_agreements_item_text,
.feedback_agreement,
.project_card_text,
.article_card_text,
.authentication_agreement_text,
.article_card_view_link,
.article_card_datetime_published,
.project_card_datetime_published,
.project_card_view_link {
    font-size: 16px;
}

.card_tags li {
    padding: 5px;
    background-color: var(--tag-bg-color);
    margin-right: 5px;
    margin-bottom: 5px;
}

.card_tags_item_more {
    display: none;
}

.project_card_view_block,
.article_card_view_block {
    margin-bottom: 10px;
}

.preview_all_projects_bottom_side,
.preview_all_articles_bottom_side {
    padding-top: 50px;
}

.project_card,
.article_card {
    margin-bottom: 50px;
}

.preview_project_left_side,
.preview_article_left_side {
    width: 600px;
}

.project_title,
.article_title {
    margin-bottom: 20px;
}

.preview_project_right_side,
.preview_article_right_side {
    width: 600px;
}

.body_project,
.body_article,
.preview_project,
.preview_article,
.feedback_container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback_input {
    margin-bottom: 20px;
    padding: 5px;
    min-height: 70px;
    max-height: 300px;
    border: solid;
    border-color: var(--input-border-color);
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--input-bg-color);
}

.feedback_agreement {
    width: 450px;
}

.feedback_publish_button {
    width: 160px;
    height: 50px;
    color: #FFFFFF;   
}

.feedback_publish_button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.agreement_link,
.agreement_underline,
.authentication_link {
    color: var(--text-color);
}

.agremeent_title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.agreement_chapter {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.agreement_chapter:first-child {
    margin-top: 0px;
}

.agreement_point_1,
.agreement_point_2,
.agreement_point_3,
.agreement_text {
    margin-bottom: 15px;
}

.agreement_point_2 {
    margin-left: 35px;
}

.agreement_point_3 {
    margin-left: 70px;
}

.agreement_block {
    margin-bottom: 50px;
}

.agreement_text {
    text-indent: 35px;
}

.agreement_cell {
    border: solid;
    border-color: #000000;
    border-width: 2px;
    padding: 15px;
    max-width: 500px;
}

.authentication_content {
    height: 730px;
}

.authentication_block {
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    width: 420px;
    padding: 30px;
}

.authentication_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.authentication_input_title {
    font-size: 16px;
}

.authentication_input_title,
.authentication_input_text_block {
    margin-bottom: 5px;
}

.authentication_input_block {
    margin-bottom: 20px;
}

.authentication_input {
    padding: 5px;
    text-indent: 5px;
    border: solid;
    border-color: var(--input-border-color);
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--input-bg-color);
    width: 100%;
}

.authentication_line {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--secondary-color);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.authentication_create_account_block .block_button_white_background {
    width: 120px;
    height: 40px;
}

.authentication_login_account_block .block_button_white_background {
    width: 120px;
    height: 40px;
}

.authentication_agreement_text {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;

    .agreement_link {
        font-size: 12px;
    }
}

.authentication_short_description {
    font-size: 14px;
    margin-bottom: 20px;
}

.authentication_create_account_block {
    .authentication_link {
        font-size: 18px;
    }
}

.footer_agreements {
    width: 770px;
}

.footer_feedback {
    width: 200px;
}

.footer_social_link_svg {
    width: 50px;
    height: 50px;
    fill-rule: evenodd;
}

.footer_social_link_svg:hover {
    fill: var(--hover-color);
}

.footer_site_email_link {
    margin-top: 5px;
}




/* XXL gadgets version */
/* Extra extra large monitors */
@media (min-width: 1600px) and (max-width: 1699px) {
    .preview_all_projects_line,
    .preview_all_articles_line {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .preview_projects_line .project_card:nth-last-child(1) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(1) {
        display: none !important;        
    }
}



/* XL - XXL gadgets version */
/* Extra large-Extra extra large monitors */
@media (min-width: 1200px) and (max-width: 1599px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    header,
    footer,
    .base_content_separator {
        margin-left: 100px;
        margin-right: 100px;
    }

    .main_greeting,
    .main_content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .error_right_side_img,
    .main_skills_img,
    .about_developer_road_img,
    .developer_hard_skills_img,
    .developer_soft_skills_img,
    .preview_last_project_card_img,
    .preview_last_article_card_img {
        width: var(--block-extra-large-size);
        height: var(--block-extra-large-size);
        object-fit: cover;
    }

    .error_block_left_side,
    .main_greeting_left_side,
    .main_skills_left_side,
    .explore_my_projects_and_blog_left_side,
    .explore_my_projects_and_blog_right_side,
    .explore_my_blog_left_side,
    .explore_my_blog_right_side,
    .explore_my_projects_left_side,
    .explore_my_projects_right_side,
    .developer_hard_skills_right_side,
    .developer_soft_skills_right_side,
    .about_developer_road_left_side,
    .preview_last_project_left_side,
    .preview_last_article_left_side {
        width: var(--block-extra-large-size);
    }

    .main_skills_left_side_skills_item {
        font-size: 16px;
    }

    .footer_agreements {
        justify-content: space-evenly !important;
    }

    .footer_agreements .footer_agreements_item:first-child {
        display: none !important;
    }

    .main_skills,
    .brief_information_block,
    .developer_hard_skills,
    .developer_soft_skills,
    .about_developer_road,
    .explore_my_projects_and_blog,
    .preview_last_project,
    .preview_last_article,
    .explore_my_blog,
    .explore_my_projects {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .brief_information_block {
        width: 100%;
    }

    .developer_soft_skills_text {
        margin-top: 20px;
    }

    .brief_information_text,
    .preview_last_project_text,
    .preview_last_article_text {
        margin-bottom: 20px;
    }

    .main_greeting_about,
    .main_skills_left_side_text,
    .brief_information_title,
    .developer_hard_skills_text,
    .preview_last_project_title,
    .preview_last_article_title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .project_card,
    .article_card {
        width: 300px;
        height: 420px;
    }

    .project_card_img_block,
    .article_card_img_block {
        min-width: 300px;
    }

    .card_tags_item {
        font-size: 14px;
    }

    .project_card_description .card_tags .card_tags_item_more {
        display: list-item;
    }

    .card_tags,
    .article_card_tags {
        .card_tags_item:not(:nth-child(-n + 4)) {
            display: none !important;
        }
    }

    .card_tags,
    .article_card_tags {
        .card_tags_item:not(:nth-child(-n + 4)) {
            display: none !important;
        }
    }

    .preview_projects_line .project_card:nth-last-child(1) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(1) {
        display: none !important;        
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }
}



/* LG - XL gadgets version */
/* large-Extra large monitors - notebook */
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    header,
    footer,
    .base_content_separator {
        margin-left: 60px;
        margin-right: 60px;
    }

    footer {
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main_greeting,
    .main_content {
        padding-left: 60px;
        padding-right: 60px;
    }

    .main_skills_left_side,
    .main_greeting_left_side {
        width: var(--block-extra-large-size);
    }

    .about_developer_road_left_side,
    .developer_soft_skills_right_side,
    .explore_my_projects_and_blog_left_side,
    .explore_my_projects_and_blog_right_side,
    .explore_my_blog_left_side,
    .explore_my_blog_right_side,
    .explore_my_projects_left_side,
    .explore_my_projects_right_side,
    .developer_hard_skills_right_side,
    .developer_soft_skills_right_side,
    .preview_last_project_left_side,
    .preview_last_article_left_side {
        width: var(--block-large-size);
    }

    .error_right_side_img,
    .main_skills_img,
    .about_developer_road_img,
    .developer_hard_skills_img,
    .developer_soft_skills_img,
    .preview_last_project_card_img,
    .preview_last_article_card_img {
        width: var(--img-large-size);
        height: var(--img-large-size);
    }

    .main_skills,
    .brief_information_block,
    .developer_hard_skills,
    .developer_soft_skills,
    .about_developer_road,
    .explore_my_projects_and_blog,
    .preview_last_project,
    .preview_last_article,
    .explore_my_blog,
    .explore_my_projects {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .brief_information_text,
    .preview_last_project_text,
    .preview_last_article_text {
        margin-bottom: 20px;
    }

    .brief_information_title,
    .developer_hard_skills_text,
    .preview_last_project_title,
    .preview_last_article_title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main_skills_left_side_skills li {
        font-size: 14px;
    }

    .preview_projects_line,
    .preview_articles_line {
        justify-content: space-evenly !important;
    } 

    .preview_projects_line {
        .project_card:nth-last-child(1),
        .project_card:nth-last-child(2) {
            display: none !important;        
        }
    }

    .preview_articles_line {
        .article_card:nth-last-child(1),
        .article_card:nth-last-child(2) {
            display: none !important;        
        }
    }

    .developer_soft_skills_text {
        margin-top: 20px;
    }

    .card_tags_item {
        font-size: 14px;
    }

    .project_card_description,
    .article_card_description {
        .card_tags .card_tags_item_more {
            display: list-item;
        }
    }

    .article_card_tags .card_tags_item_more {
        display: list-item;
    }

    .card_tags {
        .card_tags_item:not(:nth-child(-n + 4)) {
            display: none !important;
        }
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .body_project,
    .body_article,
    .preview_project,
    .preview_article,
    .feedback_container {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer_feedback {
        justify-content: space-between !important;
    }

    .footer_logo_notebook {
        display: inline !important;
    }

    .footer_social_links {
        width: 200px;
    }

    .footer_agreements_item_link {
        font-size: 14px;
    }

    .footer_agreements {
        justify-content: space-evenly !important;
    }

    .footer_agreements li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .footer_agreements .footer_agreements_item:first-child {
        display: none !important;
    }
}



/* MD - LG gadgets version */
/* Medium-Large monitors - tablet */
@media (min-width: 768px) and (max-width: 991px) {
    
}



/* SM - MD gadgets version */
/* Small-Medium monitors - horizontal (flipped) phone */
@media (min-width: 480px) and (max-width: 767px) {
    
}



/* XS - SM gadgets version */
/* Extra small-Small monitors - vertical phone */
@media (min-width: 320px) and (max-width: 479px) {
    
}