{% extends "base.html" %}
{% load static %}

{% block title %}
	Статьи
{% endblock title %}

{% block main-container %}
	<div class="main_content">
		<!-- Preview 4 last articles -->
		<div class="preview_articles">
			{% include 'articles/check_last_articles.html' %}
			
            {% if lastArticles|length != 0 %}
                <div class="contaner_bottom_side">
                    <div class="preview_articles_line d-flex justify-content-center">
                        {% include 'articles/article_card.html' with articles=lastArticles %}
                    </div>

                    <div class="view_all_articles d-flex justify-content-center">
                        {% url "allArticlesPage" as allArticlesUrl %}

                        {% include "buttons/button_white_background.html" with name="Смотреть все" url_name=allArticlesUrl %}
                    </div>
                </div>
            {% else %}
                {% include 'errors/section_is_empty.html' %}
            {% endif %}
		</div>

        <!-- Separator line -->
        <hr class="content_separator">

		<!-- Preview last article -->
		{% if lastArticle %}
            <div class="content_container d-flex justify-content-between align-items-center">
                <div class="container_left_side">
                    <p class="one_word_description">
                        Последняя публикация
                    </p>
                    
                    <h2 class="container_title">
                        {{ lastArticle.title }}
                    </h2>
                    
                    <p class="container_text">
                        {{ lastArticle.text|truncatechars:800 }}
                    </p>

                    <!-- Button -->
                    {% include "buttons/button_black_background.html" with name="Узнать больше" url_name=lastArticle.get_absolute_url %}
                </div>

                {% if lastArticle.image %}
                    <img src="{{ lastArticle.image.url }}" class="container_image">
                {% else %}
                    <img src="{% static 'img\errors\imageNotFound.png' %}" class="container_image">
                {% endif %}
    		</div>

            <!-- Preview last article. Tablet/mobile version -->
            <div class="content_container_tablet d-flex flex-column justify-content-center">
                <div class="container_up_side text-center">
                    <p class="one_word_description">
                        Последняя публикация
                    </p>
                    
                    <h2 class="container_text">
                        {{ lastArticle.title }}
                    </h2>
                </div>

                <div class="container_bottom_side d-flex justify-content-between align-items-center">
                    <div class="container_left_side">
                        <p class="container_text mb-0 text-center">
                            {{ lastArticle.text|truncatechars:800 }}
                        </p>
                    </div>

                    {% if lastArticle.image %}
                        <img src="{{ lastArticle.image.url }}" class="container_image">
                    {% else %}
                        <img src="{% static 'img\errors\imageNotFound.png' %}" class="container_image">
                    {% endif %}
                </div>
                
                {% if lastArticle.image %}
                    <div class="block_image_tablet mb-0 d-flex justify-content-center">
                        <img class="container_image_tablet" src="{{ lastArticle.image.url }}">
                    </div>
                {% else %}
                    <div class="block_image_tablet mb-0 d-flex justify-content-center">
                        <img class="container_image_tablet" src="{% static 'img\errors\imageNotFound.png' %}">
                    </div>
                {% endif %}

                <!-- Button -->
                <div class="block_buttons mt-4 d-flex justify-content-evenly w-100">
                    {% include "buttons/button_black_background.html" with name="Узнать больше" url_name=lastArticle.get_absolute_url %}
                </div>
            </div>

            <!-- Separator line -->
            <hr class="content_separator">
        {% endif %}

		<!-- Explore my blog -->
		{% include 'include/explore_my_work/expole_my_projects.html' %}
	</div>
{% endblock %}