{% load static %}

{% for article in articles %}
    <div class="article_card d-flex flex-column">
        <div class="article_card_img_block">
            {% if article.image %}
                <img src="{{ article.image.url }}" class="article_card_img">
            {% else %}
                <img src="{% static 'core/img/errors/imageNotFound.png' %}" class="article_card_img">
            {% endif %}
        </div>

        <div class="article_card_description mb-100">
            <p class="article_card_title">
                {{ article.title }}
            </p>
            
            <p class="article_card_text">
                {{ article.text|truncatechars:80 }}
            </p>

            <!-- Tags -->
            {% include 'include/item_tags.html' with itemData=article getAllTags=False %}
        </div>

        <div class="article_card_view_block h-100 d-flex justify-content-between align-items-end">
            <a href="{{ article.get_absolute_url }}" class="article_card_view_link">
                Читать ❯
            </a>

            <p class="article_card_datetime_published mb-0">
                {{ article.datetimeCreate }}
            </p>
        </div>

        <div class="article_card_view_block_tablet h-100 d-flex flex-column justify-content-end">
            <p class="article_card_datetime_published mb-0">
                {{ article.datetimeCreate }}
            </p>

            <a href="{{ article.get_absolute_url }}" class="article_card_view_link">
                Читать ❯
            </a>
        </div>
    </div>
{% endfor %}