<ul class="card_tags mb-0 list-unstyled text-center">
    {% for tag in itemData.tags.all %}
        {% if getAllTags %}
            <li class="card_tags_item">
                {{ tag }}
            </li>
        {% else %}
            {% if forloop.counter < 6 %}
                <li class="card_tags_item">
                    {{ tag }}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if itemData.tags.all|length > 5 and not getAllTags%}
        <li class="card_tags_item_more">...</li>
    {% endif %}
</ul>