<div class="explore_my_projects d-flex justify-content-between align-items-center">
	<div class="explore_my_projects_left_side">
		<h2 class="explore_my_projects_left_side_title m-0">
			Исследуйте мои проекты
		</h2>
	</div>

	<div class="explore_my_projects_right_side">
		<p class="explore_my_projects_right_side_text">
			Мои проекты отличаются высоким уровнем профессионализма и качества. Я тщательно подхожу к каждому аспекту работы, обеспечивая отличные результаты. Благодаря этому, они выделяются среди других, привнося новизну и эффективность в каждую задачу.
		</p>

		<!-- Buttons -->
		<div class="block_duo_buttons d-flex justify-content-between">
            {% url "projectsPage" as projectsUrl %}

            {% include "buttons/button_white_background.html" with name="Узнать больше" url_name=projectsUrl %}
		</div>
	</div>
</div>