{% load static %}

<div class="header_container w-100 d-flex justify-content-between">
    <div class="header_left_side_block d-flex justify-content-between">
        <!-- Logo -->
        <div class="header_logo d-flex align-items-center">
            <a class="logo_link" href="{% url 'mainPage' %}" >
                <img class="logo_img" src="{% static 'core/img/logo/logo.svg' %}">
            </a>
        </div>

        <!-- Header menu -->
        {% include 'include\header_menu.html' %}
    </div>

    <div class="header_right_side_block d-flex align-items-center">
        <div class="header_authorization d-flex justify-content-center">
            {% if user.is_authenticated %}
                <a class="header_authorization_link d-flex justify-content-center align-items-center" href="{% url 'profilePage' %}">
                    Профиль
                </a>
            {% else %}
                <a class="header_authorization_link d-flex justify-content-center align-items-center" href="{% url 'loginUser' %}">
                    Войти
                </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="header_container_tablet w-100 d-flex justify-content-between">
    <div class="burger_menu d-flex justify-content-between">
        <!-- Logo -->
        <div class="footer_logo d-flex align-items-center">
            <a class="logo_link " href="{% url 'mainPage' %}" >
                <img class="logo_img" src="{% static 'core/img/logo/logo.svg' %}">
            </a>
        </div>

        <button class="burger_menu_toggle" data-bs-toggle="collapse" href="#collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
    </div>

    <div class="collapse" id="collapseExample">
        <!-- Header menu -->
        {% include 'include\header_menu_tablet.html' %}
    </div>
</div>