<ul class="header_menu_nav mb-0 list-unstyled d-flex flex-column align-items-center justify-content-center">
    {% url "projectsPage" as projectsUrl %}
    {% url "articlesPage" as articlesUrl %}
    {% url "resumePage" as resumeUrl %}
    {% url "authorizationUser" as authorizationUrl %}

    <!-- Separator line -->
    <hr class="base_content_separator w-100">

    <li class="header_menu_nav_item w-100 d-flex align-items-center">
        {% if navigationSelected != "Projects" %}
            <a class="header_menu_link nav-link mb-0 w-100 text-center nav-link p-0" href="{{ projectsUrl }}">
                Проекты
            </a>
        {% else %}
            <p class="selected_header_menu_link mb-0 w-100 text-center nav-link p-0" href="{{ projectsUrl }}">
                Проекты
            </p>
        {% endif %}
    </li>

    <!-- Separator line -->
    <hr class="base_content_separator w-100">

    <li class="header_menu_nav_item w-100 d-flex align-items-center">
        {% if navigationSelected != "Articles" %}
            <a class="header_menu_link nav-link mb-0 w-100 text-center nav-link p-0" href="{{ articlesUrl }}">
                Статьи
            </a>
        {% else %}
            <p class="selected_header_menu_link mb-0 w-100 text-center nav-link p-0" href="{{ articlesUrl }}">
                Статьи
            </p>
        {% endif %}
    </li>

    <!-- Separator line -->
    <hr class="base_content_separator w-100">

    <li class="header_menu_nav_item w-100 d-flex align-items-center">
        {% if navigationSelected != "Resume" %}
            <a class="header_menu_link nav-link mb-0 w-100 text-center nav-link p-0" href="{{ resumeUrl }}">
                Резюме
            </a>
        {% else %}
            <p class="selected_header_menu_link mb-0 w-100 text-center nav-link p-0" href="{{ resumeUrl }}">
                Резюме
            </p>
        {% endif %}
    </li>

    <!-- Separator line -->
    <hr class="base_content_separator w-100">

    <li class="header_menu_nav_item w-100 d-flex align-items-center">
        {% if navigationSelected != "Authorization" %}
            <a class="header_menu_link nav-link mb-0 w-100 text-center nav-link p-0" href="{{ authorizationUrl }}">
                Авторизация
            </a>
        {% else %}
            <p class="selected_header_menu_link mb-0 w-100 text-center nav-link p-0" href="{{ authorizationUrl }}">
                Авторизация
            </p>
        {% endif %}
    </li>

    <!-- Separator line -->
    <hr class="base_content_separator w-100">
</ul>