:root {
    --hover-color: #59A5F5;
    --text-color: #212529;
    --secondary-color: #707070;
    --input-border-color: #AFAFAF;
    --input-bg-color: #F3F3F3;
    --tag-bg-color: #F3F3F3;
    --form-error-color: #f06060;
}

* {
    font-family: "Roboto Regular";
}

header,
footer,
.base_content_separator {
    margin-left: 140px;
    margin-right: 140px;
}

header {
    min-height: 70px;
}

footer {
    height: 150px;
}

ul {
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

h1 {
    font-family: "Roboto Bold";
    font-size: 56px;
}

h2 {
    font-family: "Roboto Bold";
    font-size: 48px;
}

p {
    font-size: 18px;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto SemiBold";
  src: url("../fonts/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

.one_word_description,
.brief_information_short_name,
.preview_last_project_short_block_name,
.preview_last_article_short_block_name,
.footer_agreements_item_text,
.footer_agreements_item_link,
.footer_site_email_link {
    font-family: "Roboto SemiBold";
}

.article_card_title,
.project_card_title,
.project_card_view_link,
.article_card_view_link {
    font-family: "Roboto Bold";
}

.underline_title {
    font-family: "Roboto SemiBold";
}

.one_word_description {
    margin-bottom: 10px;
}

.container_title,
.container_text,
.container_short_text {
    margin-bottom: 20px;
}

.preview_projects_line,
.preview_all_projects_bottom_side,
.preview_articles_line,
.preview_all_articles_bottom_side {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header_container_tablet,
.main_greeting_tablet,
.content_container_tablet,
.short_content_container_tablet,
.feedback_container_tablet,
.content_page_container_tablet,
.footer_container_tablet,
.article_card_view_block_tablet,
.project_card_view_block_tablet,
.error_container_tablet {
    display: none !important;
}

.error_container,
.error_container_tablet,
.authentication_container {
    min-height: 700px;
    height: calc(100vh - 70px - 150px - 2px);
}

.container_not_recive_code,
.container_remember_password,
.container_create_account {
    .container_text {
        font-size: 16px;
    }
}

.container_image {
    object-fit: cover;
    width: 30vw;
    height: 30vw;
}

.container_image_tablet {
    object-fit: cover;
    width: 80vw;
    height: 80vw;

    @media (min-width: 500px) {
        width: 60vw;
        height: 60vw;
    }
}

.block_image_tablet {
    margin-top: 30px;
    margin-bottom: 30px;
}

.block_button_white_background,
.block_button_black_background,
.feedback_publish_button {
    border: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    border-width: 2px;
}

.block_button_black_background,
.block_button_white_background,
.main_greeting_contact,
.main_greeting_know_more {
    width: 160px;
    height: 50px;
}

.block_button_white_background,
.main_greeting_know_more {
    background-color: #FFFFFF;
}

.block_button_black_background,
.feedback_publish_button {
    background-color: #000000;
}

.button_white_background,
.main_greeting_know_more_link,
.header_authorization_link,
.project_card_view_link,
.article_card_view_link {
    color: #000000;
}

.main_greeting,
.main_greeting_tablet {
    .container_title,
    .container_text {
        color: #FFFFFF;
    }
}

.button_black_background,
.main_greeting_contact_link {
    color: #FFFFFF;
}

.block_button_white_background,
.button_white_background,
.block_button_black_background,
.button_black_background,
.header_authorization,
.header_authorization_link,
.main_greeting_know_more,
.main_greeting_know_more_link,
.main_greeting_contact,
.main_greeting_contact_link,
.footer_social_link_svg,
.footer_agreements_item_link,
.project_card_view_link,
.article_card_view_link,
.feedback_publish_button,
.container_link {
    transition: all ease .4s;
}

.block_button_white_background:hover {
    background-color: #000000;

    .button_white_background {
        color: #FFFFFF;
    }
}

.block_button_black_background:hover {
    background-color: #FFFFFF;

    .button_black_background {
        color: #000000;
    }
}

.section_empty_container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header_logo {
    width: 120px;
}

.logo_img {
    width: 85px;
    height: 40px;
}

.header_menu_link,
.selected_header_menu_link {
    font-size: 16px;
}

.selected_header_menu_link {
    color: var(--hover-color);
}

.header_menu_link,
.header_authorization_link,
.footer_agreements_item_text,
.footer_agreements_item_link,
.footer_site_email_link,
.footer_site_email_link:hover,
.authentication_short_description {
    color: var(--secondary-color);
}

.header_authorization_link:hover {
    background-color: #000000;
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    color: #FFFFFF;
}

.header_menu_nav_item {
    width: 120px;
}

.header_menu_link:hover,
.selected_header_menu_link:hover,
.footer_agreements_item_link:hover,
.project_card_view_link:hover,
.article_card_view_link:hover,
.container_link:hover {
    color: var(--hover-color);
}

.header_authorization_link {
    height: 40px;
    width: 100px;
    border: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
}

.content_separator,
.base_content_separator {
    color: var(--secondary-color);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container_login_account,
.container_create_account {
    .container_text {
        font-size: 16px;
    }
}

.main_greeting,
.main_greeting_tablet {
    min-height: 600px;
    height: calc(100vh - 70px);
    background-image: url(
    "../img/main_page/main.jpg"
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 140px;
    padding-right: 140px;

    @media (max-width: 440px) {
        background-position-x: 60%;
    }
}

.block_duo_buttons,
.main_greeting_buttons {
    width: 335px;
}

.main_greeting_know_more,
.main_greeting_contact {
    border: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 5px;
    border-width: 2px;
}

.main_greeting_contact:hover {
    background-color: #FFFFFF;

    .main_greeting_contact_link {
        color: #000000;
    }
}

.main_greeting_know_more:hover {
    background-color: transparent;

    .main_greeting_know_more_link {
        color: #FFFFFF;
    }
}

.main_content {
    padding-left: 140px;
    padding-right: 140px;
}

.container_left_side,
.container_right_side {
    width: 40vw;
}

.container_hard_skills {
    list-style-type: circle;
    margin-left: 20px;
}

.hard_skills_item {
    margin-bottom: 10px;
    font-size: 18px;
}

.explore_my_projects_and_blog_left_side_text,
.explore_my_blog_left_side_text {
    margin-bottom: 20px;
}

.content_container {
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
}

.content_container_tablet {
    padding-top: 75px;
    padding-bottom: 75px;
    height: auto;
}

.short_content_container,
.short_content_container_tablet {
    padding-top: 75px;
    padding-bottom: 75px;
}

.content_page_container {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto; 
}

.feedback_container,
.feedback_container_tablet {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 300px;
}

.content_page_container_tablet {
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile_container .container_image {
    width: 25vw;
    height: 25vw;
}

.profile_container .container_up_side {
    margin-bottom: 40px;
}

.profile_container .container_about_block {
    width: 30vw;

    .container_title {
        margin-bottom: 5px;
    }

    .container_about_chapter {
        margin-bottom: 20px;
    }
}

.preview_projects,
.preview_articles {
    padding-top: 50px;
    padding-bottom: 50px;
}

.all_preview_projects,
.all_preview_articles {
    padding-top: 50px;
}

.preview_projects_line,
.preview_articles_line {
    gap: 50px;
}

.preview_all_projects_line,
.preview_all_articles_line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 50px;
}

.project_card,
.article_card {
    border: solid;
    border-color: #000000;
    border-radius: 5px;
    border-width: 1px;
    width: 350px;
    height: 420px;
}

.project_card_view_link,
.article_card_view_link {
    font-size: 18px;
}

.project_card_description,
.article_card_description {
    padding-top: 10px;
}

.project_card_description,
.project_card_view_block,
.article_card_description,
.article_card_view_block,
.article_card_view_block_tablet,
.project_card_view_block_tablet {
    padding-left: 20px;
    padding-right: 20px;   
}

.project_card_view_block,
.article_card_view_block {
    margin-bottom: 10px;
}

.article_card_view_block_tablet,
.project_card_view_block_tablet {
    padding-bottom: 10px;
    gap: 10px;
}

.project_card_img_block,
.article_card_img_block {
    min-width: 350px;
}

.project_card_img,
.article_card_img {
    margin-left: -1px;
    border-width: 2px;
    border-radius: 5px 5px 0px 0px;
    min-height: 180px;
    max-height: 180px;
    width: 100%;
}

.project_card_title,
.project_card_text,
.article_card_title,
.article_card_text {
    margin-bottom: 10px;
}

.footer_agreements_item_text,
.feedback_agreement,
.project_card_text,
.article_card_text,
.article_card_view_link,
.article_card_datetime_published,
.project_card_datetime_published,
.project_card_view_link {
    font-size: 16px;
}

.card_tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card_tags li {
    padding: 2px;
    background-color: var(--tag-bg-color);
}

.body_project,
.body_article {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback_input {
    margin-bottom: 20px;
    padding: 5px;
    min-height: 70px;
    border: solid;
    border-color: var(--input-border-color);
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--input-bg-color);
}

.feedback_agreement {
    width: 450px;
}

.feedback_publish_button {
    width: 160px;
    height: 50px;
    color: #FFFFFF;   
}

.feedback_publish_button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.container_link {
    color: var(--text-color);
}

.agreement_container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.agreement_chapter {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.agreement_chapter:first-child {
    margin-top: 0px;
}

.agreement_point_1,
.agreement_point_2,
.agreement_point_3,
.agreement_text {
    margin-bottom: 15px;
}

.agreement_point_2 {
    margin-left: 35px;
}

.agreement_point_3 {
    margin-left: 70px;
}

.agreement_block {
    margin-bottom: 50px;
}

.agreement_text {
    text-indent: 35px;
}

.agreement_cell {
    border: solid;
    border-color: #000000;
    border-width: 2px;
    padding: 15px;
    max-width: 500px;
}

.authentication_block {
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    width: 420px;
    padding: 30px;
}

.authentication_block {
    .container_title {
        font-size: 24px;
        font-weight: bold;
    }

    .base_content_separator {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.container_form_text_block {
    margin-bottom: 5px;
}

.authentication_agreement_block {
    margin-top: 20px;

    .container_text,
    .container_link {
        font-size: 12px;
    }
}

.container_short_text {
    font-size: 14px;
}

.footer_feedback {
    width: 250px;
}

.footer_social_link_svg {
    width: 50px;
    height: 50px;
    fill-rule: evenodd;
}

.footer_social_link_svg:hover {
    fill: var(--hover-color);
}

.footer_site_email_link {
    margin-top: 5px;
}

.authentication_form {
    .container_form_label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .container_form_input {
        padding: 5px;
        margin-bottom: 20px;
        text-indent: 5px;
        border: solid;
        border-color: var(--input-border-color);
        border-width: 1px;
        border-radius: 5px;
        background-color: var(--input-bg-color);
    }

    .container_form_input[aria-invalid="true"] {
        border-color: var(--form-error-color);
    }

    ul {
        margin-bottom: 5px;

        li {
            list-style-type: none;
            text-decoration: underline;
            color: var(--form-error-color);
        } 
    }
    

    .button_submit {
        width: 160px;
        height: 50px;
        color: #FFFFFF;
        background-color: #000000;

        border: solid;
        border-width: 2px;
        border-color: #000000;
        border-radius: 5px;
        border-width: 2px;
        transition: all ease .4s;
    }

    .button_submit:hover {
        background-color: #FFFFFF;
        color: #000000;
    }
}

.feedback_form {
    ul {
        margin-bottom: 5px;

        li {
            list-style-type: none;
            text-decoration: underline;
            color: #f06060;
        } 
    }
}

.container_comment {
    padding: 10px;
    margin-top: 20px;
    background-color: #F3F3F3;
    border: solid;
    border-radius: 5px;
    border-color: #F3F3F3;
}

.container_comment .comment_username {
    margin-right: 10px;
}

.container_comment .comment_date_published {
    color: #757575;
}

.container_comment .container_comment_bottom_side {
    margin-top: 10px;
}






/* XXL gadgets version */
/* Extra extra large monitors */
@media (max-width: 1700px) {
    .preview_all_projects_line,
    .preview_all_articles_line {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .preview_projects_line .project_card:nth-last-child(1):nth-child(n + 4) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(1):nth-child(n + 4) {
        display: none !important;        
    }
}










/* XL - XXL gadgets version */
/* Extra large-Extra extra large monitors */
@media (min-width: 1200px) and (max-width: 1599px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    header,
    footer,
    .base_content_separator {
        margin-left: 70px;
        margin-right: 70px;
    }

    .main_greeting,
    .main_greeting_tablet,
    .main_content {
        padding-left: 70px;
        padding-right: 70px;
    }

    .hard_skills_item {
        font-size: 16px;
    }

    .footer_agreements .footer_agreements_item:first-child {
        display: none !important;
    }

    .project_card,
    .article_card {
        width: 300px;
        height: 450px;
    }

    .card_tags {
        grid-template-columns: repeat(2, 1fr);
    }

    .project_card_img_block,
    .article_card_img_block {
        min-width: 300px;
    }

    .preview_projects_line .project_card:nth-last-child(1):nth-child(n + 4) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(1):nth-child(n + 4) {
        display: none !important;        
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .profile_container .container_image {
        width: 30vw;
        height: 30vw;
    }
}










/* LG - XL gadgets version */
/* large-Extra large monitors - notebook */
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    header,
    footer,
    .base_content_separator {
        margin-left: 50px;
        margin-right: 50px;
    }

    footer {
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main_greeting,
    .main_greeting_tablet,
    .main_content {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hard_skills_item {
        font-size: 16px;
    }

    .preview_projects_line .project_card:nth-last-child(-n + 2):nth-child(n + 3) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(-n + 2):nth-child(n + 3) {
        display: none !important;        
    }

    .project_card,
    .article_card {
        width: 300px;
        height: 450px;
    }

    .card_tags {
        grid-template-columns: repeat(2, 1fr);
    }

    .project_card_img_block,
    .article_card_img_block {
        min-width: 300px;
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .body_project,
    .body_article {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer_agreements {
        justify-content: space-evenly !important;
    }

    .footer_agreements .footer_agreements_item:first-child {
        display: none !important;
    }

    .profile_container .container_image {
        width: 40vw;
        height: 40vw;
    }
}










/* MD - LG gadgets version */
/* Medium-Large monitors - tablet */
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    p {
    /*.header_menu_link {*/
        font-size: 16px;
    }

    header,
    footer,
    .base_content_separator {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main_greeting,
    .main_greeting_tablet,
    .main_content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hard_skills_item {
        font-size: 16px;
    }

    .footer_container,
    .content_container,
    .content_page_container,
    .short_content_container,
    .block_image_tablet,
    .header_container {
        display: none !important;
    }

    .footer_container_tablet,
    .content_container_tablet,
    .short_content_container_tablet,
    .content_page_container_tablet {
        display: flex !important;
    }

    .header_container_tablet {
        display: block !important;
    }

    .burger_menu {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .burger_menu svg {
        width: 50px;
        height: 50px;
    }

    .burger_menu button {
        border: none;
        padding: 0px;
        background-color: #FFFFFF;
    }

    .header_menu_nav_item {
        height: 60px;
    }

    .main_greeting,
    .main_greeting_tablet {
        height: calc(100vh - 80px);
    }

    .container_left_side,
    .container_right_side {
        width: 60vw;
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        gap: 50px;
    }

    .one_word_description {
        margin-bottom: 20px;
    }

    .container_title,
    .container_text {
        margin-bottom: 30px;
    }

    .footer_container_tablet {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer_feedback {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer_site_email_link {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .footer_container_tablet .footer_agreements_item_text {
        margin-bottom: 20px;
    }

    .project_card,
    .article_card {
        width: 300px;
        height: 450px;
    }

    .card_tags {
        grid-template-columns: repeat(2, 1fr);
    }

    .content_page_container_tablet .card_tags {
        grid-template-columns: repeat(4, 1fr);
    }

    .project_card_img_block,
    .article_card_img_block {
        min-width: 300px;
    }

    .preview_projects_line .project_card:nth-last-child(-n + 2):nth-child(n + 3) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(-n + 2):nth-child(n + 3) {
        display: none !important;        
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        grid-template-columns: repeat(2, 1fr);
    }

    .profile_container .container_image {
        width: 35vw;
        height: 35vw;
    }

    .profile_container .container_about_block {
        margin-top: 20px;
    }

    .profile_container .container_about_block {
        width: 70vw;
    }
}








/* SM - MD gadgets version */
/* Small-Medium monitors - horizontal (flipped) phone */
@media (min-width: 480px) and (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    p {
    /*.header_menu_link {*/
        font-size: 16px;
    }

    header,
    footer,
    .base_content_separator {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main_greeting,
    .main_greeting_tablet,
    .main_content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hard_skills_item {
        font-size: 16px;
    }

    .footer_container,
    .main_greeting,
    .content_container,
    .container_image,
    .content_page_container,
    .short_content_container,
    .header_container,
    .feedback_container,
    .error_container {
        display: none !important;
    }

    .footer_container_tablet,
    .main_greeting_tablet,
    .content_container_tablet,
    .short_content_container_tablet,
    .content_page_container_tablet,
    .feedback_container_tablet,
    .error_container_tablet {
        display: flex !important;
    }

    .header_container_tablet {
        display: block !important;
    }

    .burger_menu {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .burger_menu svg {
        width: 50px;
        height: 50px;
    }

    .burger_menu button {
        border: none;
        padding: 0px;
        background-color: #FFFFFF;
    }

    .header_menu_nav_item {
        height: 60px;
    }

    .main_greeting,
    .main_greeting_tablet {
        height: calc(100vh - 80px);
    }

    .main_greeting_tablet {
      background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4)),
        url("../img/main_page/main.jpg");
    }

    .container_left_side,
    .container_right_side {
        width: 60vw;
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        gap: 50px;
    }

    .one_word_description {
        margin-bottom: 20px;
    }

    .container_title,
    .container_text {
        margin-bottom: 30px;
    }

    .content_container_tablet .container_bottom_side {
        .container_left_side,
        .container_right_side {
            width: 100vw;
        }
    }

    .feedback_agreement {
        width: 300px;
    }

    .footer_container_tablet {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer_feedback {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer_site_email_link {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .footer_container_tablet .footer_agreements_item_text {
        margin-bottom: 20px;
    }

    .project_card,
    .article_card {
        width: 300px;
        height: 450px;
    }

    .card_tags {
        grid-template-columns: repeat(2, 1fr);
    }

    .project_card_img_block,
    .article_card_img_block {
        min-width: 300px;
    }

    .preview_projects_line .project_card:nth-last-child(-n + 3):nth-child(n + 2) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(-n + 3):nth-child(n + 2) {
        display: none !important;        
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        grid-template-columns: repeat(1, 1fr);
    }

    .profile_container .container_image_tablet {
        width: 50vw;
        height: 50vw;
    }

    .profile_container .container_about_block {
        margin-top: 20px;
    }

    .profile_container .container_about_block {
        width: 70vw;
    }
}








/* SM - MD gadgets version */
/* Small-Medium monitors - horizontal (flipped) phone */
@media (max-width: 530px) {
    .footer_agreements {
        flex-direction: column;
    }

    .footer_agreements li:first-child {
        margin-bottom: 20px;
    }
}








/* XS - SM gadgets version */
/* Extra small-Small monitors - vertical phone */
@media (max-width: 479px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    p {
    /*.header_menu_link {*/
        font-size: 16px;
    }

    header,
    footer,
    .base_content_separator {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main_greeting,
    .main_greeting_tablet,
    .main_content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hard_skills_item {
        font-size: 16px;
    }

    .footer_container,
    .main_greeting,
    .content_container,
    .short_content_container,
    .container_image,
    .header_container,
    .feedback_container,
    .content_page_container,
    .article_card_view_block,
    .project_card_view_block,
    .error_container {
        display: none !important;
    }

    .footer_container_tablet,
    .main_greeting_tablet,
    .content_container_tablet,
    .short_content_container_tablet,
    .feedback_container_tablet,
    .content_page_container_tablet,
    .article_card_view_block_tablet,
    .project_card_view_block_tablet,
    .error_container_tablet {
        display: flex !important;
    }

    .header_container_tablet {
        display: block !important;
    }

    .burger_menu {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .burger_menu svg {
        width: 50px;
        height: 50px;
    }

    .burger_menu button {
        border: none;
        padding: 0px;
        background-color: #FFFFFF;
    }

    .header_menu_nav_item {
        height: 60px;
    }

    .main_greeting,
    .main_greeting_tablet {
        height: calc(100vh - 80px);
    }

    .main_greeting_tablet {
      background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4)),
        url("../img/main_page/main.jpg");
    }

    .container_left_side,
    .container_right_side {
        width: 60vw;
    }

    .project_card,
    .article_card {
        width: 280px;
        height: 480px;
    }

    .card_tags {
        grid-template-columns: repeat(2, 1fr);
    }

    .project_card_description,
    .article_card_description {
        padding-top: 10px;
    }

    .project_card_img_block,
    .article_card_img_block {
        min-width: 280px;
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        gap: 50px;
    }

    .one_word_description {
        margin-bottom: 20px;
    }

    .container_title,
    .container_text {
        margin-bottom: 30px;
    }

    .content_container_tablet .container_bottom_side {
        .container_left_side,
        .container_right_side {
            width: 100vw;
        }
    }

    .feedback_agreement {
        width: 300px;
    }

    .footer_container_tablet {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer_feedback {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer_site_email_link {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .footer_container_tablet .footer_agreements_item_text {
        margin-bottom: 20px;
    }

    .preview_projects_line .project_card:nth-last-child(-n + 3) {
        display: none !important;        
    }

    .preview_articles_line .article_card:nth-last-child(-n + 3) {
        display: none !important;        
    }

    .preview_all_projects_line,
    .preview_all_articles_line {
        grid-template-columns: repeat(1, 1fr);
    }

    .profile_container .container_image_tablet {
        width: 60vw;
        height: 60vw;
    }

    .profile_container .container_about_block {
        margin-top: 20px;
    }

    .profile_container .container_about_block {
        width: 70vw;
    }
}








/* XS - SM gadgets version */
/* Extra small-Small monitors - vertical phone */
@media (max-width: 370px) {
    .main_greeting_buttons,
    .block_duo_buttons {
        gap: 20px;
        align-items: center;
        flex-direction: column;
        width: auto;
    }
}







